#item1 {
    color: rgba(48, 146, 232, 0.647);
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 1500px;

}

body {
    margin: 0;
    min-height: 250vh;
    background-image: url('pictures/achtergrond.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


#b2 {
    color: rosybrown
}

.highlight {
    background-color: rgb(187, 187, 92);
    color: (48, 146, 232, 0.647);
}

.box {
    width: 20%;
    height: 2%;
    background-color: rgba(178, 176, 176, 0.866);
    padding: 20px;
    margin: 20px 20px 0px 20px;
    text-align: center;
    border-radius: 10px
}



a {
    text-decoration: none;
}

a:visited {
    color: black;
}

#item2 {
    color: rgb(0, 0, 0);
}

#item2 {
    text-decoration: none;
}

item2:visited {
    color: black;
}

#wat_is {
    color: black;
}

#item3 {
    color: black;
}

#item3 {
    text-decoration: none;
}

item3:visited {
    color: black;
}

#item4 {
    color: black;
}

#item4 {
    text-decoration: none;
}

item4:visited {
    color: black;
}

#item5 {
    color: black;
}

#item5 {
    text-decoration: none;
}

item5:visited {
    color: black;
}

#item6 {
    color: rgb(115, 255, 0);
}

#item6 {
    text-decoration: none;
}

item6:visited {
    color: rgb(3, 3, 3);
}

#button6 {
    color: rgb(3, 1, 134);
}

#button6 {
    text-decoration: none;
}

button6:visited {
    color: rgb(94, 168, 20);
}

#item7 {
    color: black;
}

#item7 {
    text-decoration: none;
}

item7:visited {
    color: black;
}

html {
    scroll-behavior: smooth;
    scroll-margin-top: 1500px;

}

a {
    display: flex;
    width: 349px;
    height: 91px;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid #000;
    background: #FFF;
}

body {
    margin: 0;
    min-height: 400vh;
}

button:hover {
    background-color: yellow;
}


.box2 {
    width: 20%;
    height: 2%;
    background-color: rgba(178, 176, 176, 0.866);
    padding: 20px;
    margin: 20px 20px 0px 20px;
    text-align: center;
    border-radius: 10px
}

#donatie1 {
    color: rgb(0, 0, 0);
}

#donatie1 {
    text-decoration: none;
}

donatie1:visited {
    color: black;
}